node_modules
.next
.git
.gitignore
.env
.env.example
*.md
*.md.map
coverage
.husky
.eslintrc.json
.prettierrc
tsconfig.json
tsconfig.tsbuildinfo
__mocks__
src/test
vitest.config.ts
postcss.config.js
next-env.d.ts
dev.db
*.db-journal
prisma/dev.db
docker-compose*.yml
